<div id="<%= dom_id to_do %>">
  <p>
    <strong>Name:</strong>
    <%= to_do.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= to_do.description %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= to_do.deadline %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= to_do.completed %>
  </p>

</div>
